/GoBike.ServerCommander/GoBike.ServerCommander.API/obj
/GoBike.ServerCommander/GoBike.ServerCommander.API/bin
/GoBike.ServerCommander/GoBike.ServerCommander.Core/obj
/GoBike.ServerCommander/GoBike.ServerCommander.Core/bin
/GoBike.ServerCommander/GoBike.ServerCommander.Service/obj
/GoBike.ServerCommander/GoBike.ServerCommander.Service/bin
